.student-profile__intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "avatar title"
    "avatar description"
    "quote  description";
  align-items: center;
  justify-items: center;
  column-gap: 30px;

  max-width: 1024px;
  padding-top: 50px;
  margin: 0 auto;
}

.student-profile__name {
  font-size: 40px;
  grid-area: title;
}

.student-profile__avatar {
  grid-area: avatar;
  width: 375px;
  height: 600px;
  filter: drop-shadow(0 50px 50px black);
}

.student-profile__quote {
  grid-area: quote;
  padding-top: 50px;
  text-align: center;
  width: 450px;
  align-self: baseline;
}

.student-profile__description {
  grid-area: description;
}

.student-profile__description-highlight {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.student-profile__description-paragraph {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.student-profile__description-break {
  height: 2rem;
}

.student-profile__description-text {
  margin-bottom: 0.5rem;
}
