.recommendations__item {
  display: flex;
  flex-direction: column;
}

.recommendations__item iframe {
  width: 400px;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 50px;
  border: none; /* Mantém a proporção do vídeo */
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff; /* Cor dos botões de navegação */
}

.swiper-pagination-bullet-active {
  background: transparent; /* Cor do paginador ativo */
}
